<h1>スケジュール詳細</h1>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @schedule.start_date.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @schedule.end_date.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @schedule.all_day? ? '○' : '' %></td>
  </tr>
  <tr>
    <th>メモ</th>
    <td><%= simple_format(@schedule.memo) %></td>
  </tr>
</table>

<p>
  <%= link_to '一覧に戻る', schedules_path %> |
  <%= link_to '編集', edit_schedule_path(@schedule) %> |
  <%= link_to '削除', @schedule, method: :delete, data: { confirm: '予定を削除しますか？' } %>
</p>
